<template name='layout'>
  <div class='root container'>
    <header class='navbar navbar-default' role='navigation'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='{{pathFor "postsList"}'>Microscope</a>
        <i class='tagline'>Very Tiny Posts</i>
      </div>
    </header>

    <div class='row'>
      <!-- Primary content -->
      <section id='main' class='col-md-8'>
        {{> yield}}
      </section>

      <aside id='sidebar' class='col-md-3 col-md-offset-1'>
        {{> weatherWidget}}
      </aside>
    </div>
  </div>
</template>