<template name='layout'>
  <nav class="navbar navbar-default">
    <div class="container navigation-container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class='navbar-brand' href="{{pathFor 'postsList'}}">Microscope</a>
        <i class='tagline'>Very Tiny Posts</i>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class='nav nav-pills navbar-nav navbar-right'>
          <li><a href="{{pathFor 'postsList'}}">Home</a></li>
          <li><a href="{{pathFor 'about'}}">About</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>

  <div class='container content-container'>
    <div class='row'>
      <!-- Columns are nested here, so that the subtle border-bottom style will span the width of the entire page -->
      <div class='page-header col-md-12'>
        <div class="page-title col-md-8">
          <h1>Stub</h1>
        </div>

        <div class='nav-breadcrumb col-md-4'>
          <small class='pull-right muted'>Today's Date Stub</small>
          <!-- Stub: need to add breadcrumb nav -->
        </div>
      </div>
    </div>
    
    <div class='row'>
      <!-- Primary content -->
      <section class='main col-md-8 clearfix'>
        {{> yield}}
      </section>

      <aside class='sidebar col-md-3 col-md-offset-1 clearfix'>
        {{> authForm}}
      </aside>
    </div>
  </div>
</template>