<template name='layout'>
  {{> header}}

  <section class='container content-container'>
    <div class='row'>
      <!-- Sidebar content -->
      <aside class='sidebar col-xs-12 col-md-3 col-md-push-8 col-md-offset-1'>
      {{#if currentUser}}
        {{> userMeta}}
      {{/if}}
        
      {{#if currentUser}}
        {{> postButton}}
      {{/if}}
      </aside>
      
      <!-- Primary content -->
      <section class='main col-xs-12 col-md-8 col-md-pull-4 clearfix'>
        {{> yield}}
      </section>
    </div>
  </section>
  
  {{> footer}}
</template>