/** Color scheme from : http://www.colourlovers.com/palette/92095/Giant_Goldfish **/

.grid-block, .post, .comments li, .comment-form {
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

html {
  font-size: 100% !important; }

html > body {
  background: #fcfcfc; }

.main, .sidebar {
  padding-top: 1.5rem;
}

.sidebar .widget {
  margin: 0 0 3rem 0;
}

.sidebar .widget .widget-body .btn-default:hover {
	color: rgba(240, 173, 78, 1.0);
	border: 1px solid rgba(240, 173, 78, 1.0);
	background-color: #fff;
}

.sidebar .widget > header {
  margin-bottom: 1rem;
  border-bottom: 1px solid #f3f3f3;
}

.sidebar .widget > .widget-body {
  font-size: 0.8rem;
}

.sidebar .widget > .widget-body dl > dt {
  width: 80px;
}
.sidebar .widget > .widget-body dl > dd {
  margin-left: 100px;
}
footer {
  margin-top: 3rem;
  padding: 3rem 0;
  background: #f7f7f7;
  border-top: 1px solid #e5e5e5;
}

.footer-nav {
  width: 100%;
  margin: auto;
  text-align: center;
}

.footer-container .copyright {
  text-align: center;
}

.btn.btn-info {
  color: #C2EDFB;
}
.btn.btn-info:hover {
  color: #fff;
}
.btn.btn-danger {
  color: #FFBDBB;
}
.btn.btn-danger:hover {
  color: #fff;
}

.main {
  position: relative;
}

.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.main .page-header {
  margin-top: 0;
}

.main > .page-header > h1 {
  margin-top: 0;
}

.page-header > h1 > small {
  color: #999;
  font-weight: 200;
  font-size: 0.75rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

/* .navbar {
  margin-bottom: 10px; } */

html > body > .navbar-default {
  background: #FFF;
}

.navbar-default .container.navigation-container .navbar-nav a {
  font-size: 0.85rem;
	font-weight: 300;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.navbar-default .container.navigation-container .navbar-header {
  padding-left: 84px;
  padding-top: 0.75rem;
  background-image: url(/img/microscope.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.navbar-default .container.navigation-container .navbar-brand {
  font-family: 'Source Serif Pro', Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 0;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0;
  padding: 2.75rem 0 1.2rem 0;
  color: #2F2F2F;
  height: 45px;
  display: block;
}

.navbar-default .container.navigation-container i.tagline {
  color: #999;
  font-size: 0.7rem;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.818rem;
  display: block;
  margin: 0 0 1rem 0.2rem;
  padding: 0 0 1rem 0;
}

.navbar-right {
  padding-top: 1.5rem;
}

  /* line 32, ../sass/style.scss */
/*   .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; } */

#spinner {
  height: 300px; }


.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

ul.posts {
	list-style: none;
	padding-left: 0;
}

.posts .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors {
/*   position: fixed; */
/*   z-index: 10000; */
  margin: 0;
/*   top: 0px; */
/*   left: 0px; */
/*   right: 0px; */
/*   bottom: 0px; */
  pointer-events: none;
}

.errors > .alert {
  /** @todo: Disable the animation until I figure out how to make it fade out without continuing to consume space in the DOM **/
          animation: fadeOut 5000ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 5000ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 5000ms ease-in 0s 1 forwards;
  width: auto;
/*   float: right; */
/*   clear: both; */
  margin: 0 0 3rem 0;
  pointer-events: auto;
}

.lead {
  font-size: 2.7rem;
  padding-top: 2rem; }

.widget.weather {
  background: #ACD8E7;
  border-radius: 4px;
  padding: 0 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(1, 38, 50, 0.35); }

/** Form Elements **/
.container.content-container .widget > legend {
  border-bottom: 1px solid #F7DEBA;
}

.form-group.login.submit .btn {
  border: 1px solid #F7DEBA;
  background: #FFF;
  color: #F0AD4E;
}
.form-group.login.submit .btn:hover {
  border: 1px solid #F0AD4E;
  background: #F0AD4E;
  color: #FFF;
}


/** Utility Classes **/
.muted { color: #ccc; }

.flash {
  padding: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #F5DBAE;
}
