.grid-block, .main, .post, .comments li, .comment-form {
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  margin-top: 2rem;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

html {
  font-size: 100% !important; }

body {
  background: #eee;
  color: #666666; }


.post a.btn > span.glyphicon {
  color: #F0AD4E;
}
.post a.btn {
  border: 1px solid #F7DEBA ;
  background: none; 
}
.post a.btn:hover {
  border: 1px solid #F0AD4E;
  background: #F0AD4E;
}
.post a.btn:hover > span.glyphicon {
  color: #FFF;
}

.container.root a {
  color: #E0E4CC; 
}
.container.root a:hover {
  color: #69D2E7; 
}

#main {
/*   position: relative; */
}

.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.page-header > h1 > small {
  color: #999;
  font-weight: 200;
  font-size: 0.75rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

/* .navbar {
  margin-bottom: 10px; } */

.navbar-default .container.root .navbar-header {
  padding-left: 84px;
  padding-top: 0.75rem;
  background-image: url(/img/microscope.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.navbar-default .container.root .navbar-brand {
  font-family: 'Source Serif Pro', Helvetica, sans-serif;
  font-size: 2.6rem;
  font-weight: 100;
  line-height: 0;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0;
  padding: 2.75rem 0 1rem 0;
  color: #2F2F2F;
  height: 45px;
  display: block;
}

.navbar-default .container.root i.tagline {
  color: #999;
  font-size: 0.8rem;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.818rem;
  display: block;
  margin: 0 0 1rem 0.2rem;
  padding: 0 0 1rem 0;
}

.navbar-right {
  padding-top: 1rem; 
}

  /* line 32, ../sass/style.scss */
/*   .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; } */

#spinner {
  height: 300px; }

.post {
  /* For modern browsers */

  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
  opacity: 1; }
  .post:before, .post:after {
    content: "";
    display: table; }
  .post:after {
    clear: both; }
  .post.invisible {
    opacity: 0; }
  .post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .post.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .post .post-content {
    float: left; }
    .post .post-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 1.75rem; }
      .post .post-content h3 a {
        color: #0AD0F7;
        display: inline-block;
        margin-right: 5px; }
      .post .post-content h3:hover a {
        color: #82E6FA;
        text-decoration: none;
      }
      .post .post-content h3 span {
        font-weight: normal;
        font-size: 1rem;
        display: inline-block;
        color: #ccc; }
    .post .post-content p {
      margin: 0; }
  .post .discuss {
    display: block;
    float: right;
    margin-top: 7px; }

.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
    .comments li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .comments li h4 a {
      font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.posts .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

.lead {
  font-size: 2.7rem;
  padding-top: 2rem; }

.widget.weather {
  background: #ACD8E7;
  border-radius: 4px;
  padding: 0 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(1, 38, 50, 0.35); }