<template name='postEdit'>
  <form class='main form page form-horizontal'>
    <fieldset>
      <legend>Editing Post</legend>
      
      <!-- Form input : TITLE -->
      <div class='form-group'>
        <label for='title' class='control-label col-md-2'>Title</label>
        <div class='col-md-10'>
          <input name='title' id='title' type='text' value='{{title}}' placeholder='Name your post' class='form-control' required/>
        </div>
      </div>
      
      <!-- Form input : URL -->
      <div class='form-group'>
        <label for='url' class='control-label col-md-2'>URL</label>
        <div class='col-md-10'>
          <input name='url' id='url' type='url' value='{{url}}' placeholder='URL to link to' class='form-control' required/>
        </div>
      </div>
      
      <!-- Form control : BUTTONS -->
      <div class='form-group'>
          <button type='submit' class='edit btn btn-info btn-sm'>
            <span class='glyphicon glyphicon-ok' aria-hidden='true'></span>
          </button>
          <button type='button' class='delete btn btn-danger btn-sm'>
            <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
          </button>
      </div>
    </fieldset>
  </form>
</template>