<template name='postEdit'>
  <div class='page-header'>
    <h1>Edit Post</h1>
  </div>
  
  <form class='main form form-horizontal' role='form'>
    <fieldset>
      <legend>Details</legend>
      
      <!-- Form input : TITLE -->
      <div class='form-group {{errorClass "title"}}'>
        <label for='title' class='control-label col-md-2'>Title</label>
        <div class='col-md-10'>
          <input name='title' id='title' type='text' value='{{title}}' placeholder='Name your post' class='form-control'/>
          <span class='help-block'>{{errorMessage 'title'}}</span>
        </div>
      </div>
      
      <!-- Form input : URL -->
      <div class='form-group {{errorClass "url"}}'>
        <label for='url' class='control-label col-md-2'>URL</label>
        <div class='col-md-10'>
          <input name='url' id='url' type='url' value='{{url}}' placeholder='URL to link to' class='form-control'/>
          <span class='help-block'>{{errorMessage 'url'}}</span>
        </div>
      </div>
      
      <!-- Form control : BUTTONS -->
      <div class='form-group'>
        <div class='col-md-12'>
          <div class='form-buttons pull-right'>
            <button type='submit' class='edit btn btn-info btn-sm'>
              <span class='glyphicon glyphicon-ok-sign' title='Save' aria-hidden='true'></span>
            </button>
            <button type='button' class='delete btn btn-danger btn-sm'>
              <span class='glyphicon glyphicon-exclamation-sign' title='Delete' aria-hidden='true'></span>
            </button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</template>