<template name='postSubmit'>
  <form class='main form form-horizontal'>
    <fieldset>
      <legend>New Post</legend>
      
      <div class='form-group'>
        <label class='control-label col-md-2' for='title'>Title</label>
        <div class='col-md-10'>
          <input name='title' id='title' type='text' value='' placeholder='Name your post' class='form-control' required/>
        </div>
      </div>
      
      <div class='form-group'>
        <label for='url' class='control-label col-md-2'>URL</label>
        <div class='col-md-10'>
          <input name='url' id='url' type='url' value='' placeholder='URL to link to' class='form-control' required/>
        </div>
      </div>
      
      <div class='form-group'>
        <div class='col-md-12'>
          <button type='submit' class='btn btn-info pull-right'>Save new post</button>
        </div>
      </div>
    </fieldset>
  </form>
</template>