<template name='about'>
  <div class="page-header">
    <h1>
      About Microscope
      <small>The very tiny posts app</small>
    </h1>
  </div>
  
  <p class='lead'>Microscope should have been named, "Micropost."</p>
  
  <p>The impetus for creating Microscope was &hellip; blah, blah blah. Lorem ipsum whatever.</p>
  
  <p>A Meteor Method is a way of executing a series of commands on the server in a structured way. In our example, we used a Method because we wanted to make sure that new posts were tagged with their author's name and id as well as the current server time.</p>

  <p>However, if Meteor executed Methods in the most basic way, we'd have a problem. Consider the following sequence of events (note: the timestamps are random values picked for illustrative purpose only):</p>
</template>