<template name='about'>
  <div class="page-header">
    <h1>
      About Microscope
      <small>The very tiny posts app</small>
    </h1>
  </div>
  
  <p class='lead'>Microscope should have been named, "Micropost."</p>
  
  <p>The impetus for creating Microscope was &hellip; blah, blah blah. Lorem ipsum whatever.</p>
  
  <p>'Here! you may nurse it a bit, if you like!' the Duchess said to Alice,  flinging the baby at her as she spoke. 'I must go and get ready to play  croquet with the Queen,' and she hurried out of the room. The cook threw  a frying-pan after her as she went out, but it just missed her.</p>

<p>Alice caught the baby with some difficulty, as it was a queer-shaped  little creature, and held out its arms and legs in all directions, 'just  like a star-fish,' thought Alice. The poor little thing was snorting  like a steam-engine when she caught it, and kept doubling itself up and  straightening itself out again, so that altogether, for the first minute  or two, it was as much as she could do to hold it.</p>

<p>As soon as she had made out the proper way of nursing it, (which was to  twist it up into a sort of knot, and then keep tight hold of its right  ear and left foot, so as to prevent its undoing itself,) she carried  it out into the open air. 'IF I don't take this child away with me,'  thought Alice, 'they're sure to kill it in a day or two: wouldn't it be  murder to leave it behind?' She said the last words out loud, and the  little thing grunted in reply (it had left off sneezing by this time).  'Don't grunt,' said Alice; 'that's not at all a proper way of expressing  yourself.'</p>
</template>