<template name='formLogin'>
  <fieldset class='widget'>
    <legend>Login</legend>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <input type="password" class="form-control input-sm" id="inputPassword3" placeholder="Password">
        </div>
      </div>
<!-- Comment out : not sure I want to use this
<div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
        </div>
      </div> 
-->
      <div class="form-group login submit">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-default btn-sm pull-right">Sign in</button>
        </div>
      </div>
    </form>
  </fieldset>
</template>