<template name='header'>
  <nav class='navbar navbar-default' role='navigation'>
    <div class="container navigation-container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class='navbar-header'>
        <!-- Mobile nav button to show/hide nav menu -->
        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navHeader'>
          <span class='sr-only'>Toggle Navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href="{{pathFor 'postsList'}}">Microscope</a>
        <i class='tagline'>Very Tiny Posts</i>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class='collapse navbar-collapse' id='navHeader'>
        <ul class='nav navbar-nav nav-pills navbar-right'>
          {{> loginButtons align="right"}}
          {{#if currentUser}}<li><a href="{{pathFor 'postSubmit'}}">New post</a></li>{{/if}}
          <li><a href="{{pathFor 'postsList'}}">Home</a></li>
          <li><a href="{{pathFor 'about'}}">About</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</template>